* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --mainDark: #2e3239;
    --mainBackground: #26292B;
    --mainBlue: #5f7adb;
    --mainLightBlue: #a2b2ee;
    --mainWhite: #fef4f4;

    --error: rgb(255, 0, 0);
    --success: rgb(0, 255, 0); 
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--mainBackground); 
}
.form {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--mainBlue);
    border-radius: 10px;
    transition: .5s;
}
.form:hover {
    border: 1px solid var(--mainDark);
    background-color: var(--mainLightBlue);
}
.header {
    color: var(--mainWhite);
    padding: 20px;
    font-size: 20px;
}
.form-control {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 800;
}
.form-control input {
    border: 1px solid var(--mainRed);
    border-radius: 5px; 
    padding: 8px;
    outline: 1px solid var(--mainDark);
    width: 150%;
}
.form-control small {
    visibility: hidden;
}
.form-control.succes small {
    visibility: visible;
}
.form-control.error small {
    visibility: visible;
    color: var(--error);
}

.btn {
    color: var(--mainWhite);
    background: var(--mainDark);
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 7.5px;
    transition: 0.5s;
}

.btn:hover {
    color: var(--mainDark);
    background: var(--mainWhite);
    cursor: pointer;
}

