* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --mainDark: #2e2828;
    --mainBrown: #503a3a;
    --mainRed: #f65151;
    --mainWhite: #fef4f4;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--mainBrown);
}

.form {
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--mainRed);
    
    border: 1px solid black;
}

.header {
    background-color: var(--mainDark);
    color: var(--mainWhite);
    padding: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.form-control label {
    font-weight: 800;
}

.form-control small {
    visibility: hidden;
}

.form-control.succes small {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
}

